# .npmrc
# Configuration for npm and pnpm

# Uses the exact version instead of any within-patch-range version of an
# installed package
save-exact=true
# Required as the `jest-to-match-shape-of` library expects jest 25/26, but
# we use it just fine with jest 27
legacy-peer-deps=true
